body, html {
    margin: 0;
    font-family: sans-serif;
   
}

.content {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background: #fff;
    width: 43vw;
    height: 7vh;
    display: flex;
}
form input{
    flex: 1;
    border: none;
    outline: none;
}

form button{
    flex: 1;
    background: tomato;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    height: 7vh;
}
form .fa-search{
    align-self: center;
    padding: 10px 20px;
    color: #777;
}


table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}
@media only screen and (max-width: 500px){
    form{
        width: auto;
     
    }
}
    
